[user]
	email = paul@finary.com
	name = Paul Renvoisé
	singningkey = /Users/paulrenvoise/.ssh/id_ed25519.pub
[core]
	editor = vim
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgsign = true
